html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #B22222, #C62828);
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 80px 20px;
    color: #fff;
    background: #F2EAD3;
    position: relative;
    overflow: hidden;
}
header h1 {
    font-size: 3rem;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: slideInFromTop 2s ease-out;
}
header p {
    font-size: 1.2rem;
    animation: fadeIn 2.5s ease-in-out;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #D4AF37;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s, transform 0.3s, border-bottom 0.3s;
}
nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}
nav a:hover::after {
    width: 100%;
}
nav a:hover {
    background-color: #333333;
    transform: scale(1.1);
}
.section {
    padding: 30px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    max-width: 1200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.section h2 {
    text-align: center;
    color: #ff6f00;
}

.describe {
    width: 100%;
    text-align: center;
    font-style: italic;
}

.section > img {
    display: block;
    margin: 20px auto;
    max-width: 60%;
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    padding: 15px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

#table {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}

#contact {
    position: relative;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}       